 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: popping;
}

body{
   margin: 0;
   padding: 0;
   position: relative;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(3.jpg);
  background-color: #4009c2;
  background-repeat:  no-repeat;
  background-position: center;
  background-size: cover;
  
}


.container{
    width: 100%;
    max-width: 25rem;
    background-color: transparent;
    padding: 3rem 2rem;
    border-radius: 10px;
    color: white;
    border: #ffffff80 solid 2px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    position: relative;
}


.wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;/* double the width to accomadate both */
}

  
section{
    width: 50%; /* each section tack helf of the wrapper width*/
    padding: 2rem;
    box-sizing: border-box;

}

.login, .register{
    flex: 1;
}

.hidden{
    transform: translateX(-50%);
}

h1,h2{
    font-size: 2rem;
    text-align: center;
 }

 form{
    margin: 2rem 0;
}  

.inputbox{
    position: relative;
    margin: 1rem 0;
}

  .inputbox input{
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    border-bottom: rgb(142, 147, 155) solid 2px;
    background-color: transparent;
    color: black;
    font-size: 1.5;
    font-weight: 500;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 0;
}
.inputbox ion-icon{
    position: absolute;
    right: 5px;
    top: 20px;
}   


input:focus ~ label,
input:valid ~ label{
    top: -5px;
}  
.forgot{
   display: flex;
   justify-content : center;
}

.forgot a{
    text-decoration: none;
    font-size: 1rem; 
    margin-left: 4px;
    text-transform: lowercase;
    color:black;
    font-weight: 600;
} 
.forgot a:hover{
    text-decoration: underline;
}
button{
    width:100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 2rem;
    margin: 1.5rem 0;
}
.register-option{
    display: flex;
    justify-content: center;
}   
.register-option a{
    text-decoration: none;
   
    color: rgb(11, 11, 12);
    font-weight: 600;
    margin-left: 4px;
}
.register-option a:hover{
    text-decoration: underline;

}

h1{
    font-size: 48px;
    color: black;
    text-shadow: 2px 2px 4px #ffffff ;
}


body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f8;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}